/* HERE IS CSS FILE */
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.listItemData {
    height: 32px;
    width: 100%; 
    text-align: center;
    
}
.listItemTitle{
    padding-right: 5px;
}
.listItem {
      display: flex;
      justify-content: space-between;
     flex-flow: row wrap;
}
.parent{
    width: 300px;
    border: 1px solid black;
    background-color: lightgreen;
    margin: 20% 3%;
    border-radius: 15px;
}